{% extends 'clone/base.html' %}

{% block content %}
<!--==========================-->
<!--=         Error         =-->
<!--==========================-->
<section class="error-page">
    <div class="container">
        <div class="error-content-wrapper text-center">
            <div class="error-content">
                <img src="media/background/error.png" alt="error">

                <h2 class="error-title">Page Not Found</h2>

                <p>We re unable to find the page you re looking for.</p>

                <a href="#" class="pix-btn">Go Home</a>
            </div>
            <!-- /.error-content -->
        </div>
        <!-- /.error-content-wrapper -->
    </div>
    <!-- /.container -->
</section>
<!-- /.error-page -->
{% endblock content %}