{% extends 'clone/base.html' %}
{% load static %}
{% block content %}
<!--==========================-->
<!--=         Sign In         =-->
<!--==========================-->
<section class="signin signup">
    <!-- <br>
    <br>
    <br>
    <br>
    <br> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="signin-from-wrapper">
                    <div class="signin-from-inner">
                        <br>
                        <h2 class="title">Signup Now!</h2>

                        <p>
                            With your social network
                        </p>

                        <ul class="singup-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i>Facebook</a></li>
                            <li><a href="#"><i class="far fa-envelope"></i>Gmail</a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i>Twitter</a></li>
                        </ul>

                        <form method="POST" action="" class="sign-form">
                            {% csrf_token %}
                            <label for="firstname">First name</label>
                            <input type="text" placeholder="First name" name="firstname" id="firstname">

                            <label for="lastname">Last name</label>
                            <input type="text" placeholder="Last name" name="lastname" id="lastname">

                            <label for="username">Username</label>
                            <input type="text" placeholder="Username" name="username" id="username">

                            <label for="email">Email</label>
                            <input type="text" placeholder="Email" name="email" id="email">

                            <label for="password">Password</label>
                            <input type="password" placeholder="Password" name="password" id="password">
                            
                            <label for="confirm_password">Confirm password</label>
                            <input type="password" placeholder="Confirm Password" name="confirm_password" id="confirm_password2">

                            <div class="forget-link">
                                <div class="condition">
                                    <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
                                    <label for="styled-checkbox-1"></label>
                                    <span>I wish to recieve newsletters, promotions and news from.</span>

                                </div>

                            </div>

                            <button type="submit" class="pix-btn">Sign Up</button>

                            <p>Already have an account? <a href="{% url 'signin' %}">Sign in</a> now.</p>
                        </form>

                        <div class="form-group">
                            {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                {{messages}}
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                    <!-- /.signin-from-inner -->

                    <ul class="animate-ball">
                        <li class="ball"></li>
                        <li class="ball"></li>
                        <li class="ball"></li>
                        <li class="ball"></li>
                        <li class="ball"></li>
                    </ul>
                </div>
                <!-- /.signin-from-wrapper -->
            </div>
            <!-- /.col-lg-7 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <div class="signin-banner signup-banner">
        <div class="animate-image-inner">
            <div class="image-one">
                <img src="{% static 'clone/media/animated/signup.html' %}" alt="" class="wow pixFadeLeft">
            </div>

            <div class="image-two">
                <img src="{% static 'clone/media/animated/signup2.png' %}" alt="" class=" wow pixFadeRight">
            </div>
            <!-- /.image-two -->
        </div>
        <!-- /.animate-image-inner -->
    </div>
    <!-- /.signin-banner -->
</section>
<!-- /.signin -->
{% endblock content %}