{% extends 'clone/base.html' %}
{% load static %}
{% block content %}
<!--==========================-->
<!--=         Sign In         =-->
<!--==========================-->
<section class="signin">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="signin-from-wrapper">
                    <div class="signin-from-inner">
                        <h2 class="title">Sign In</h2>

                        <p>
                            Get quick access to all WordPress premium themes with extensions or/and SP Page Builder Pro with support!
                        </p>
                        <form action="#" class="singn-form">
                            <input type="text" placeholder="Email">
                            <input type="password" placeholder="Password">

                            <div class="forget-link">
                                <div class="condition">
                                    <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
                                    <label for="styled-checkbox-1"></label>
                                    <span>Remember Me</span>

                                </div>

                                <a href="#" class="forget">Forget Password</a>
                            </div>

                            <button type="submit" class="pix-btn">Sign In</button>

                            <p>Don’t have any account? <a href="{% url 'signup' %}">Sign up</a> now.</p>
                        </form>
                    </div>
                    <!-- /.signin-from-inner -->

                    <ul class="animate-ball">
                        <li class="ball"></li>
                        <li class="ball"></li>
                        <li class="ball"></li>
                        <li class="ball"></li>
                        <li class="ball"></li>
                    </ul>
                </div>
                <!-- /.signin-from-wrapper -->
            </div>
            <!-- /.col-lg-7 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <div class="signin-banner">
        <img src="media/animated/lock.png" alt="" class="image-one wow pixFadeDown">
        <img src="media/animated/lock2.png" alt="" class="image-two wow pixFadeUp">

    </div>
    <!-- /.signin-banner -->
</section>
<!-- /.signin -->
{% endblock content %}



