{% extends 'clone/base.html' %}
{% load static %}
{% block content %}
<!--========================-->
<!--=         Team         =-->
<!--========================-->
<section class="teams-single">
    <div class="container">
        <div class="section-title text-center">
            <h3 class="sub-title wow pixFadeUp">Meet The Team</h3>
            <h2 class="title wow pixFadeUp" data-wow-delay="0.3s">Awesome pix saas Team</h2>
        </div>
        <!-- /.section-title text-center -->


        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="team-member wow pixFadeUp" data-wow-delay="0.3s">
                    <div class="member-avater">
                        <img src="{% static 'clone/media/team/1.jpg' %}" alt="avater">

                        <ul class="member-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>

                        <svg class="layer-one" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="370px" height="210px">
                            <path fill-rule="evenodd" opacity="0.302" fill="rgb(250, 112, 112)" d="M-0.000,79.999 C-0.000,79.999 85.262,-11.383 187.324,50.502 C297.703,117.429 370.000,-0.001 370.000,-0.001 L370.000,203.999 C370.000,207.313 367.314,209.999 364.000,209.999 L6.000,209.999 C2.686,209.999 -0.000,207.313 -0.000,203.999 L-0.000,79.999 Z" />
                        </svg>

                        <svg class="layer-two" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="370px" height="218px">
                            <path fill-rule="evenodd" opacity="0.8" fill="rgb(250, 112, 112)" d="M-0.000,27.999 C-0.000,27.999 95.694,-46.224 188.615,48.781 C278.036,140.208 370.000,57.999 370.000,57.999 L370.000,211.999 C370.000,215.313 367.314,217.999 364.000,217.999 L6.000,217.999 C2.686,217.999 -0.000,215.313 -0.000,211.999 L-0.000,27.999 Z" />
                        </svg>
                    </div>

                    <div class="team-info">
                        <h3 class="name">Dylan Meringue</h3>
                        <h4 class="job">Project Manager</h4>
                    </div>
                </div>
                <!-- /.team-member -->
            </div>
            <!-- /.col-lg-4 col-md-6 -->

            <div class="col-lg-4 col-md-6">
                <div class="team-member wow pixFadeUp" data-wow-delay="0.3s">
                    <div class="member-avater">
                        <img src="{% static 'clone/media/team/2.jpg' %}" alt="avater">

                        <ul class="member-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>

                        <svg class="layer-one" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="370px" height="210px">
                            <path fill-rule="evenodd" opacity="0.302" fill="rgb(250, 112, 112)" d="M-0.000,79.999 C-0.000,79.999 85.262,-11.383 187.324,50.502 C297.703,117.429 370.000,-0.001 370.000,-0.001 L370.000,203.999 C370.000,207.313 367.314,209.999 364.000,209.999 L6.000,209.999 C2.686,209.999 -0.000,207.313 -0.000,203.999 L-0.000,79.999 Z" />
                        </svg>

                        <svg class="layer-two" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="370px" height="218px">
                            <path fill-rule="evenodd" opacity="0.8" fill="rgb(250, 112, 112)" d="M-0.000,27.999 C-0.000,27.999 95.694,-46.224 188.615,48.781 C278.036,140.208 370.000,57.999 370.000,57.999 L370.000,211.999 C370.000,215.313 367.314,217.999 364.000,217.999 L6.000,217.999 C2.686,217.999 -0.000,215.313 -0.000,211.999 L-0.000,27.999 Z" />
                        </svg>
                    </div>

                    <div class="team-info">
                        <h3 class="name">Lance Bogrol</h3>
                        <h4 class="job">Developer</h4>
                    </div>
                </div>
                <!-- /.team-member -->
            </div>
            <!-- /.col-lg-4 col-md-6 -->

            <div class="col-lg-4 col-md-6">
                <div class="team-member wow pixFadeUp" data-wow-delay="0.3s">
                    <div class="member-avater">
                        <img src="{% static 'clone/media/team/3.jpg' %}" alt="avater">

                        <ul class="member-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>

                        <svg class="layer-one" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="370px" height="210px">
                            <path fill-rule="evenodd" opacity="0.302" fill="rgb(250, 112, 112)" d="M-0.000,79.999 C-0.000,79.999 85.262,-11.383 187.324,50.502 C297.703,117.429 370.000,-0.001 370.000,-0.001 L370.000,203.999 C370.000,207.313 367.314,209.999 364.000,209.999 L6.000,209.999 C2.686,209.999 -0.000,207.313 -0.000,203.999 L-0.000,79.999 Z" />
                        </svg>

                        <svg class="layer-two" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="370px" height="218px">
                            <path fill-rule="evenodd" opacity="0.8" fill="rgb(250, 112, 112)" d="M-0.000,27.999 C-0.000,27.999 95.694,-46.224 188.615,48.781 C278.036,140.208 370.000,57.999 370.000,57.999 L370.000,211.999 C370.000,215.313 367.314,217.999 364.000,217.999 L6.000,217.999 C2.686,217.999 -0.000,215.313 -0.000,211.999 L-0.000,27.999 Z" />
                        </svg>
                    </div>

                    <div class="team-info">
                        <h3 class="name">Wisteria Ravenclaw</h3>
                        <h4 class="job">UI/UX designer</h4>
                    </div>
                </div>
                <!-- /.team-member -->
            </div>
            <!-- /.col-lg-4 col-md-6 -->

            <div class="col-lg-4 col-md-6">
                <div class="team-member wow pixFadeUp" data-wow-delay="0.3s">
                    <div class="member-avater">
                        <img src="{% static 'clone/media/team/4.jpg' %}" alt="avater">

                        <ul class="member-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>

                        <svg class="layer-one" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="370px" height="210px">
                            <path fill-rule="evenodd" opacity="0.302" fill="rgb(250, 112, 112)" d="M-0.000,79.999 C-0.000,79.999 85.262,-11.383 187.324,50.502 C297.703,117.429 370.000,-0.001 370.000,-0.001 L370.000,203.999 C370.000,207.313 367.314,209.999 364.000,209.999 L6.000,209.999 C2.686,209.999 -0.000,207.313 -0.000,203.999 L-0.000,79.999 Z" />
                        </svg>

                        <svg class="layer-two" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="370px" height="218px">
                            <path fill-rule="evenodd" opacity="0.8" fill="rgb(250, 112, 112)" d="M-0.000,27.999 C-0.000,27.999 95.694,-46.224 188.615,48.781 C278.036,140.208 370.000,57.999 370.000,57.999 L370.000,211.999 C370.000,215.313 367.314,217.999 364.000,217.999 L6.000,217.999 C2.686,217.999 -0.000,215.313 -0.000,211.999 L-0.000,27.999 Z" />
                        </svg>
                    </div>

                    <div class="team-info">
                        <h3 class="name">Benjamin Evalent</h3>
                        <h4 class="job">Programmer</h4>
                    </div>
                </div>
                <!-- /.team-member -->
            </div>
            <!-- /.col-lg-4 col-md-6 -->

            <div class="col-lg-4 col-md-6">
                <div class="team-member wow pixFadeUp" data-wow-delay="0.3s">
                    <div class="member-avater">
                        <img src="{% static 'clone/media/team/11.jpg' %}" alt="avater">

                        <ul class="member-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>

                        <svg class="layer-one" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="370px" height="210px">
                            <path fill-rule="evenodd" opacity="0.302" fill="rgb(250, 112, 112)" d="M-0.000,79.999 C-0.000,79.999 85.262,-11.383 187.324,50.502 C297.703,117.429 370.000,-0.001 370.000,-0.001 L370.000,203.999 C370.000,207.313 367.314,209.999 364.000,209.999 L6.000,209.999 C2.686,209.999 -0.000,207.313 -0.000,203.999 L-0.000,79.999 Z" />
                        </svg>

                        <svg class="layer-two" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="370px" height="218px">
                            <path fill-rule="evenodd" opacity="0.8" fill="rgb(250, 112, 112)" d="M-0.000,27.999 C-0.000,27.999 95.694,-46.224 188.615,48.781 C278.036,140.208 370.000,57.999 370.000,57.999 L370.000,211.999 C370.000,215.313 367.314,217.999 364.000,217.999 L6.000,217.999 C2.686,217.999 -0.000,215.313 -0.000,211.999 L-0.000,27.999 Z" />
                        </svg>
                    </div>

                    <div class="team-info">
                        <h3 class="name">Bailey Wonger</h3>
                        <h4 class="job">SEO Expert</h4>
                    </div>
                </div>
                <!-- /.team-member -->
            </div>
            <!-- /.col-lg-4 col-md-6 -->

            <div class="col-lg-4 col-md-6">
                <div class="team-member wow pixFadeUp" data-wow-delay="0.3s">
                    <div class="member-avater">
                        <img src="{% static 'clone/media/team/5.jpg' %}" alt="avater">

                        <ul class="member-social">{% static 'clone/media/team/6.jpg' %}i></a></li>
                        </ul>

                        <svg class="layer-one" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="370px" height="210px">
                            <path fill-rule="evenodd" opacity="0.302" fill="rgb(250, 112, 112)" d="M-0.000,79.999 C-0.000,79.999 85.262,-11.383 187.324,50.502 C297.703,117.429 370.000,-0.001 370.000,-0.001 L370.000,203.999 C370.000,207.313 367.314,209.999 364.000,209.999 L6.000,209.999 C2.686,209.999 -0.000,207.313 -0.000,203.999 L-0.000,79.999 Z" />
                        </svg>

                        <svg class="layer-two" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="370px" height="218px">
                            <path fill-rule="evenodd" opacity="0.8" fill="rgb(250, 112, 112)" d="M-0.000,27.999 C-0.000,27.999 95.694,-46.224 188.615,48.781 C278.036,140.208 370.000,57.999 370.000,57.999 L370.000,211.999 C370.000,215.313 367.314,217.999 364.000,217.999 L6.000,217.999 C2.686,217.999 -0.000,215.313 -0.000,211.999 L-0.000,27.999 Z" />
                        </svg>
                    </div>

                    <div class="team-info">
                        <h3 class="name">Norman Gordon</h3>
                        <h4 class="job">Content Writer</h4>
                    </div>
                </div>
                <!-- /.team-member -->
            </div>
            <!-- /.col-lg-4 col-md-6 -->

            <div class="col-lg-4 col-md-6">
                <div class="team-member wow pixFadeUp" data-wow-delay="0.4s">
                    <div class="member-avater">
                        <img src="{% static 'clone/media/team/8.jpg' %}" alt="avater">

                        <ul class="member-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>

                        <svg class="layer-one" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="370px" height="210px">
                            <path fill-rule="evenodd" opacity="0.302" fill="rgb(250, 112, 112)" d="M-0.000,79.999 C-0.000,79.999 85.262,-11.383 187.324,50.502 C297.703,117.429 370.000,-0.001 370.000,-0.001 L370.000,203.999 C370.000,207.313 367.314,209.999 364.000,209.999 L6.000,209.999 C2.686,209.999 -0.000,207.313 -0.000,203.999 L-0.000,79.999 Z" />
                        </svg>

                        <svg class="layer-two" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="370px" height="218px">
                            <path fill-rule="evenodd" opacity="0.8" fill="rgb(250, 112, 112)" d="M-0.000,27.999 C-0.000,27.999 95.694,-46.224 188.615,48.781 C278.036,140.208 370.000,57.999 370.000,57.999 L370.000,211.999 C370.000,215.313 367.314,217.999 364.000,217.999 L6.000,217.999 C2.686,217.999 -0.000,215.313 -0.000,211.999 L-0.000,27.999 Z" />
                        </svg>
                    </div>

                    <div class="team-info">
                        <h3 class="name">Jason Response</h3>
                        <h4 class="job">Accountant</h4>
                    </div>
                </div>
                <!-- /.team-member -->
            </div>
            <!-- /.col-lg-4 col-md-6 -->

            <div class="col-lg-4 col-md-6">
                <div class="team-member wow pixFadeUp" data-wow-delay="0.3s">
                    <div class="member-avater">
                        <img src="{% static 'clone/media/team/7.jpg' %}" alt="avater">

                        <ul class="member-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>

                        <svg class="layer-one" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="370px" height="210px">
                            <path fill-rule="evenodd" opacity="0.302" fill="rgb(250, 112, 112)" d="M-0.000,79.999 C-0.000,79.999 85.262,-11.383 187.324,50.502 C297.703,117.429 370.000,-0.001 370.000,-0.001 L370.000,203.999 C370.000,207.313 367.314,209.999 364.000,209.999 L6.000,209.999 C2.686,209.999 -0.000,207.313 -0.000,203.999 L-0.000,79.999 Z" />
                        </svg>

                        <svg class="layer-two" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="370px" height="218px">
                            <path fill-rule="evenodd" opacity="0.8" fill="rgb(250, 112, 112)" d="M-0.000,27.999 C-0.000,27.999 95.694,-46.224 188.615,48.781 C278.036,140.208 370.000,57.999 370.000,57.999 L370.000,211.999 C370.000,215.313 367.314,217.999 364.000,217.999 L6.000,217.999 C2.686,217.999 -0.000,215.313 -0.000,211.999 L-0.000,27.999 Z" />
                        </svg>
                    </div>

                    <div class="team-info">
                        <h3 class="name">Lurch Schpellchek</h3>
                        <h4 class="job">Back-end developer</h4>
                    </div>
                </div>
                <!-- /.team-member -->
            </div>
            <!-- /.col-lg-4 col-md-6 -->

            <div class="col-lg-4 col-md-6">
                <div class="team-member wow pixFadeUp" data-wow-delay="0.3s">
                    <div class="member-avater">
                        <img src="{% static 'clone/media/team/9.jpg' %}" alt="avater">

                        <ul class="member-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>

                        <svg class="layer-one" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="370px" height="210px">
                            <path fill-rule="evenodd" opacity="0.302" fill="rgb(250, 112, 112)" d="M-0.000,79.999 C-0.000,79.999 85.262,-11.383 187.324,50.502 C297.703,117.429 370.000,-0.001 370.000,-0.001 L370.000,203.999 C370.000,207.313 367.314,209.999 364.000,209.999 L6.000,209.999 C2.686,209.999 -0.000,207.313 -0.000,203.999 L-0.000,79.999 Z" />
                        </svg>

                        <svg class="layer-two" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="370px" height="218px">
                            <path fill-rule="evenodd" opacity="0.8" fill="rgb(250, 112, 112)" d="M-0.000,27.999 C-0.000,27.999 95.694,-46.224 188.615,48.781 C278.036,140.208 370.000,57.999 370.000,57.999 L370.000,211.999 C370.000,215.313 367.314,217.999 364.000,217.999 L6.000,217.999 C2.686,217.999 -0.000,215.313 -0.000,211.999 L-0.000,27.999 Z" />
                        </svg>
                    </div>

                    <div class="team-info">
                        <h3 class="name">Druid Wensleydale</h3>
                        <h4 class="job">Marketing Expert</h4>
                    </div>
                </div>
                <!-- /.team-member -->
            </div>
            <!-- /.col-lg-4 col-md-6 -->
        </div>
        <!-- /.row -->

        <div class="button-container text-center">
            <a href="#" class="pix-btn btn-outline plus-icon wow pixFadeUp">Load More <i class="ei ei-plus"></i></a>
        </div>
        <!-- /.button-container text-center -->
    </div>
    <!-- /.container -->

</section>
<!-- /.teams -->
{% endblock content %}
